.MuiList-root-2.MuiList-padding-3.ListDividers-root-1 {
    padding-top: 0px;
    padding-bottom: 0px;
}
.MuiList-padding-3 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.MuiList-root-2.MuiList-padding-3 {
    padding-top: 0px;
    padding-bottom: 0px;
}