.MuiList-root-2.MuiList-padding-3.ListDividers-root-1 {
    padding-top: 0px;
    padding-bottom: 0px;
}
.MuiList-padding-3 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.MuiList-root-2.MuiList-padding-3 {
    padding-top: 0px;
    padding-bottom: 0px;
}
.MuiList-root-147.MuiList-padding-148 {
    padding-top: 0px;
    padding-bottom: 0px;
}
.MuiList-padding-37 {
    padding-top: 0px !important; 
    padding-bottom: 0px !important;
}