.am-tab-bar::-webkit-scrollbar {
    display: none;
  }
  #tab-bar.demo {
    display: flex;
    flex-direction: column;
  }
  .MuiList-root-36.MuiList-dense-38.MuiList-padding-37 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
